<h1>Users#show</h1>

 <%= render 'users/users_form', users: @users %> 

<% if @todos.length > 0 %>
    <%= link_to "all delete", "/users/" + @todos.first.user_id.to_s + "/todos/", method: :delete, data: { confirm: "削除しますか？" } %>
<% end %> 

<%= render 'todos/todos_form', todos: @todos %>