<div class="home-container">
    <div class="title-container">
        <h3>Notification Home </h3>
    </div>
    
    <div class="login-center">
        <%= link_to "Login", users_show_path, class: "btn btn-lg btn-primary" %>
    </div>
    
    <div class="download-container">
        <a href="assets/beta.apk" download="beta.apk">download Notification [β version] </a>
    </div>
</div>


